# test, build, package and deploy stages.

image: docker:latest
services:
  - docker:dind


stages:
  - test-backend
  - build-backend
  - package-backend
  - deploy-backend
  - package-frontend
  - deploy-frontend

test-backend:
  stage: test-backend
  tags:
    - deployment
  image: maven:3.8.5-openjdk-17
  script:
    - pwd
    - echo $BACKEND_DIR
    - cd $BACKEND_DIR
    - mvn -version
    - mvn clean test
  only:
    - main

build-backend:
  stage: build-backend
  tags:
    - deployment
  image: maven:3.8.5-openjdk-17
  script:
    - pwd
    - cd $BACKEND_DIR
    - mvn clean package -Dspring.profiles.active=prod
  artifacts:
    paths:
      - $BACKEND_DIR/target/*.jar
  only:
    - main

package-backend:
  image: docker:latest
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: "tcp://docker:2375"
  services:
    - docker:dind
  stage: package-backend
  tags:
    - deployment
  script:
    - pwd
    - ls -la ServerSide/TourAssist/target/
    - docker build -t docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA $BACKEND_DIR
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PWD docker.io
    - docker push docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA
  only:
    - main

deploy-backend:
  stage: deploy-backend
  tags:
    - deployment
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PWD docker.io"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker container rm -f my-app || true"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker run -d -p 8073:8080 --name my-app docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA"
  environment:
    name: production
    url: http://172.17.0.148:8073
  only:
    - main

package-frontend:
  image: docker:latest
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: "tcp://docker:2375"
  services:
    - docker:dind
  stage: package-frontend
  tags:
    - deployment
  script:
    - pwd
    - ls -la ClientSide/
    - docker build -t docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA-fe $FRONTEND_DIR
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PWD docker.io
    - docker push docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA-fe
  only:
    - main

deploy-frontend:
  stage: deploy-frontend
  tags:
    - deployment
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PWD docker.io"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA-fe"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker container rm -f fe-app || true"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker run -d -p 8074:5173 --name fe-app docker.io/patelraj22777/test:$CI_COMMIT_SHORT_SHA-fe"
  environment:
    name: production-fe
    url: http://172.17.0.148:8074
  only:
    - main